@use '../core/variables' as vars;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: vars.$primary-color;
}

.hidden {
  display: none;
}
.text-desktop {
  display: none;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1,
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

.p-small {
  font-size: 0.875rem;
}

.primary-btn {
  display: inline-block;
  color: vars.$text-on-dark;
  background: vars.$primary-color;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
}

.primary-btn:hover {
  background: vars.$accent-color;
}
