<footer class="footer">
  <div class="footer-container">
    <div class="footer-links-1">
      <h3>Tienda</h3>
      <ul>
        <li><a href="https://adalab.es/" target="_blank">Productos</a></li>
        <li><a href="https://adalab.es/" target="_blank">Cajoneras</a></li>
        <li>
          <a href="https://adalab.es/" target="_blank">Para toda la casa</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank">Habitaciones</a>
        </li>
      </ul>
    </div>

    <div class="footer-links-2">
      <h3>Nosotros</h3>
      <ul>
        <li>
          <a href="https://adalab.es/" target="_blank">Nuestra guía</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank">Nuestro diseño</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank">Nuestra historia</a>
        </li>
        <li><a href="https://adalab.es/" target="_blank">Ayuda</a></li>
      </ul>
    </div>

    <div class="contacto-main-container">
      <div class="contacto">
        <h3>Contacto</h3>
        <a href="mailto:ayuda@openspaces.com">ayuda@openspaces.com</a>
        <a href="https://adalab.es/" target="_blank">Socios</a>
      </div>

      <div class="social-links">
        <a href="https://adalab.es/" target="_blank">
          <img src="./images/brand-linked-in.png" alt="LinkedIn" />
        </a>
        <a href="https://adalab.es/" target="_blank">
          <img src="./images/brand-instagram.png" alt="LinkedIn" />
        </a>
        <a href="https://adalab.es/" target="_blank">
          <img src="./images/brand-twitter.png" alt="LinkedIn" />
        </a>
      </div>
    </div>
    <!-- contacto main container div -->
  </div>
  <!-- footer container div -->
  <a href="#top" class="scroll-up">
    <img src="./images/arrow-short-up.png" alt="Volver arriba" />
  </a>
</footer>