<section class="fourth-module-container">
    <article class="text-content">
      <div class="text-inner">
        <h2>Disfruta creando espacios</h2>
        <p class="p-small">
          Una línea de productos diseñados para todos tus espacios
        </p>
        <a class="primary-btn" href="https://adalab.es/" target="_blank">
          Comprar Ahora
        </a>
      </div>
    </article>

    <div class="image-content">
      <img
        class="fourth-image"
        src="./images/creando-espacios.jpg"
        alt="imagen baño"
      />
    </div>
  </section>