<header id="top">
  <section class="nav-logo-container">
    <nav class="nav-menu">
      <img
        class="menu-hamburguer"
        src="./images/menu-hamburger.png"
        alt="icono menu"
      />
      <div class="hidden">
        <ul>
          <li>
            <a href="https://adalab.es/" target="_blank">Productos</a>
          </li>
          <li>
            <a href="https://adalab.es/" target="_blank">Colecciones</a>
          </li>
          <li><a href="https://adalab.es/" target="_blank">Tienda</a></li>
          <li><a href="https://adalab.es/" target="_blank">Inicio</a></li>
        </ul>
      </div>
    </nav>

    <div class="logo-img-container">
      <img class="logo-img" src="./images/logo.png" alt="logo de la web" />
    </div>
  </section>

  <section class="hero-container">
    <article class="hero-article">
      <h1>Disfruta creando espacios</h1>
      <a class="hero primary-btn" href="https://adalab.es/" target="_blank"
        >Comprar Ahora</a
      >
    </article>
  </section>
</header>