<section class="second-module-container">
    <h2>Volverse organizado se siente mejor con OPEN SPACES</h2>
    <div class="second-article-container">
      <article class="feature">
        <img src="./images/icon_1.png" alt="" />
        <h3>Lo que necesitas</h3>
        <p>Una línea de productos diseñados para todos tus espacios</p>
      </article>

      <article class="feature">
        <img src="./images/Biodegradable-bag.png" alt="" />
        <h3>Materia primas sustentables</h3>
        <p class="text-mobile">
          Todos los productos con materias primas sustentables
        </p>
        <p class="text-desktop">
          Una línea de productos diseñados para todos tus espacios
        </p>
      </article>
      
      <article class="feature">
        <img src="./images/Park.png" alt="" />
        <h3>Guía</h3>
        <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
      </article>

    </div>
  </section>